<div class="menus flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="Spotify logo">
    </div>

    <div class="menu-container flex options">
        <app-menu-button description="Home" [selected]="selectedMenu === 'Home'" (click)="clickedBotton('Home')">
            <fa-icon [icon]="homeIcon"></fa-icon>
        </app-menu-button>
        <app-menu-button description="Pesquisar" [selected]="selectedMenu === 'Pesquisar'"
            (click)="clickedBotton('Pesquisar')">
            <fa-icon [icon]="searchIcon"></fa-icon>
        </app-menu-button>
        <app-menu-button description="Artistas" [selected]="selectedMenu === 'Artistas'"
            (click)="clickedBotton('Artistas')">
            <fa-icon [icon]="artistIcon"></fa-icon>
        </app-menu-button>
    </div>

    <div class="menu-container flex">
        <span class="playlist-title">
            PLAYLISTS
        </span>
        <div class="playlist-scroll">
            <app-menu-button *ngFor="let playlist of playlists" [description]="playlist.name"
                [selected]="selectedMenu === playlist.id" (click)="clickedBotton(playlist.id)">
                <fa-icon [icon]="playlistIcon"></fa-icon>
            </app-menu-button>
            <app-menu-button *ngFor="let playlist of playlists" [description]="playlist.name"
                [selected]="selectedMenu === playlist.id" (click)="clickedBotton(playlist.id)">
                <fa-icon [icon]="playlistIcon"></fa-icon>
            </app-menu-button>
            <app-menu-button *ngFor="let playlist of playlists" [description]="playlist.name"
                [selected]="selectedMenu === playlist.id" (click)="clickedBotton(playlist.id)">
                <fa-icon [icon]="playlistIcon"></fa-icon>
            </app-menu-button>
            <app-menu-button *ngFor="let playlist of playlists" [description]="playlist.name"
                [selected]="selectedMenu === playlist.id" (click)="clickedBotton(playlist.id)">
                <fa-icon [icon]="playlistIcon"></fa-icon>
            </app-menu-button>
            <app-menu-button *ngFor="let playlist of playlists" [description]="playlist.name"
                [selected]="selectedMenu === playlist.id" (click)="clickedBotton(playlist.id)">
                <fa-icon [icon]="playlistIcon"></fa-icon>
            </app-menu-button>
            <app-menu-button *ngFor="let playlist of playlists" [description]="playlist.name"
                [selected]="selectedMenu === playlist.id" (click)="clickedBotton(playlist.id)">
                <fa-icon [icon]="playlistIcon"></fa-icon>
            </app-menu-button>
        </div>

    </div>
</div>
<div class="user-info">
    <app-user-footer></app-user-footer>
</div>