@import 'table';

:host {
    display: flex;
    justify-content: space-between;

    .my-musics {
        padding: 0px 50px;
        padding-bottom: 20px;
        width: 100%;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .d-block {
        display: block;
    }

    .right-panel {
        height: 100%;
    }
}