<div class="my-musics">
    <span class="title-bg mt-4">
        Seu Top Artista
    </span>
    <app-top-artist class="mt-2 d-block"></app-top-artist>

    <span class="title-bg mt-4">
        Musicas Curstidas
    </span>

    <table class="table mt-3">
        <thead>
            <tr>
                <th class="w-5">#</th>
                <th class="w-35">Titulo</th>
                <th class="w-30">Artistas</th>
                <th class="w-10 right">Tempo</th>
                <th class="w-20">Album</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let music of myMusics" (click)="execMusic(music)" [class.playing]="music.id === actualMusic.id">
                <td>
                    <fa-icon class="play" [icon]="playIcon"></fa-icon>
                </td>
                <td>{{music.title}}</td>
                <td>{{getArtists(music)}}</td>
                <td class="right">{{music.time}}</td>
                <td>{{music.album.name}}</td>
            </tr>

        </tbody>
    </table>
</div>

<app-right-panel class="right-panel"></app-right-panel>